
/* your style here */

 body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* FONT SIZE*/
.f8{ font-size: 8px !important; }
.f9{ font-size: 9px !important; }
.f10{ font-size: 10px !important; }
.f11{ font-size: 11px !important; }
.f12{ font-size: 12px !important; }
.f13{ font-size: 13px !important; }
.f14{ font-size: 14px !important; }
.f15{ font-size: 15px !important; }
.f16{ font-size: 16px !important; }
.f17{ font-size: 17px !important; }
.f18{ font-size: 18px !important; }
.f19{ font-size: 19px !important; }
.f20{ font-size: 20px !important; }
.f21{ font-size: 21px !important; }
.f22{ font-size: 22px !important; }
.f23{ font-size: 23px !important; }
.f24{ font-size: 24px !important; }
.f25{ font-size: 25px !important; }
.f26{ font-size: 26px !important; }
.f27{ font-size: 27px !important; }
.f28{ font-size: 28px !important; }
.f29{ font-size: 29px !important; }
.f30{ font-size: 30px !important; }
.f31{ font-size: 31px !important; }
.f32{ font-size: 32px !important; }
.f33{ font-size: 33px !important; }
.f34{ font-size: 34px !important; }
.f35{ font-size: 35px !important; }
.f36{ font-size: 36px !important; }
.f37{ font-size: 37px !important; }
.f38{ font-size: 38px !important; }
.f39{ font-size: 39px !important; }
.f40{ font-size: 40px !important; }
.f41{ font-size: 41px !important; }
.f42{ font-size: 42px !important; }
.f43{ font-size: 43px !important; }
.f44{ font-size: 44px !important; }
.f45{ font-size: 45px !important; }
.f46{ font-size: 46px !important; }
.f47{ font-size: 47px !important; }
.f48{ font-size: 48px !important; }
.f49{ font-size: 49px !important; }
.f50{ font-size: 50px !important; }


/* MARGIN TOP */
.m-t0{ margin-top: 0px !important; }
.m-t5{ margin-top: 5px !important; }
.m-t10{ margin-top: 10px !important; }
.m-t15{ margin-top: 15px !important; }
.m-t20{ margin-top: 20px !important; }
.m-t25{ margin-top: 25px !important; }
.m-t30{ margin-top: 30px !important; }
.m-t35{ margin-top: 35px !important; }
.m-t40{ margin-top: 40px !important; }
.m-t45{ margin-top: 45px !important; }
.m-t50{ margin-top: 50px !important; }
.m-t55{ margin-top: 55px !important; }
.m-t60{ margin-top: 60px !important; }
.m-t65{ margin-top: 65px !important; }
.m-t70{ margin-top: 70px !important; }
.m-t75{ margin-top: 75px !important; }
.m-t80{ margin-top: 80px !important; }
.m-t85{ margin-top: 85px !important; }
.m-t90{ margin-top: 90px !important; }
.m-t95{ margin-top: 95px !important; }
.m-t100{ margin-top: 100px !important; }

/* MARGIN RIGHT */
.m-r0{ margin-right: 0px !important; }
.m-r5{ margin-right: 5px !important; }
.m-r10{ margin-right: 10px !important; }
.m-r15{ margin-right: 15px !important; }
.m-r20{ margin-right: 20px !important; }
.m-r25{ margin-right: 25px !important; }
.m-r30{ margin-right: 30px !important; }
.m-r35{ margin-right: 35px !important; }
.m-r40{ margin-right: 40px !important; }
.m-r45{ margin-right: 45px !important; }
.m-r50{ margin-right: 50px !important; }
.m-r55{ margin-right: 55px !important; }
.m-r60{ margin-right: 60px !important; }
.m-r65{ margin-right: 65px !important; }
.m-r70{ margin-right: 70px !important; }
.m-r75{ margin-right: 75px !important; }
.m-r80{ margin-right: 80px !important; }
.m-r85{ margin-right: 85px !important; }
.m-r90{ margin-right: 90px !important; }
.m-r95{ margin-right: 95px !important; }
.m-r100{ margin-right: 100px !important; }

/* MARGIN BOTTOM */
.m-b0{ margin-bottom: 0px !important; }
.m-b5{ margin-bottom: 5px !important; }
.m-b10{ margin-bottom: 10px !important; }
.m-b15{ margin-bottom: 15px !important; }
.m-b20{ margin-bottom: 20px !important; }
.m-b25{ margin-bottom: 25px !important; }
.m-b30{ margin-bottom: 30px !important; }
.m-b35{ margin-bottom: 35px !important; }
.m-b40{ margin-bottom: 40px !important; }
.m-b45{ margin-bottom: 45px !important; }
.m-b50{ margin-bottom: 50px !important; }
.m-b55{ margin-bottom: 55px !important; }
.m-b60{ margin-bottom: 60px !important; }
.m-b65{ margin-bottom: 65px !important; }
.m-b70{ margin-bottom: 70px !important; }
.m-b75{ margin-bottom: 75px !important; }
.m-b80{ margin-bottom: 80px !important; }
.m-b85{ margin-bottom: 85px !important; }
.m-b90{ margin-bottom: 90px !important; }
.m-b95{ margin-bottom: 95px !important; }
.m-b100{ margin-bottom: 100px !important; }

/* MARGIN LEFT */
.m-l0{ margin-left: 0px !important; }
.m-l5{ margin-left: 5px !important; }
.m-l10{ margin-left: 10px !important; }
.m-l15{ margin-left: 15px !important; }
.m-l20{ margin-left: 20px !important; }
.m-l25{ margin-left: 25px !important; }
.m-l30{ margin-left: 30px !important; }
.m-l35{ margin-left: 35px !important; }
.m-l40{ margin-left: 40px !important; }
.m-l45{ margin-left: 45px !important; }
.m-l50{ margin-left: 50px !important; }
.m-l55{ margin-left: 55px !important; }
.m-l60{ margin-left: 60px !important; }
.m-l65{ margin-left: 65px !important; }
.m-l70{ margin-left: 70px !important; }
.m-l75{ margin-left: 75px !important; }
.m-l80{ margin-left: 80px !important; }
.m-l85{ margin-left: 85px !important; }
.m-l90{ margin-left: 90px !important; }
.m-l95{ margin-left: 95px !important; }
.m-l100{ margin-left: 100px !important; }


/* PADDING TOP */
.p-t0 { padding-top: 0px !important; }
.p-t5 { padding-top: 5px !important; }
.p-t10{ padding-top: 10px !important; }
.p-t15{ padding-top: 15px !important; }
.p-t20{ padding-top: 20px !important; }
.p-t25{ padding-top: 25px !important; }
.p-t30{ padding-top: 30px !important; }
.p-t35{ padding-top: 35px !important; }
.p-t40{ padding-top: 40px !important; }
.p-t45{ padding-top: 45px !important; }
.p-t50{ padding-top: 50px !important; }
.p-t55{ padding-top: 55px !important; }
.p-t60{ padding-top: 60px !important; }
.p-t65{ padding-top: 65px !important; }
.p-t70{ padding-top: 70px !important; }
.p-t75{ padding-top: 75px !important; }
.p-t80{ padding-top: 80px !important; }
.p-t85{ padding-top: 85px !important; }
.p-t90{ padding-top: 90px !important; }
.p-t95{ padding-top: 95px !important; }
.p-t100{ padding-top: 100px !important; }
.p-t130{ padding-top: 130px !important; }

/* PADDING RIGHT */
.p-r0 { padding-right: 0px !important; }
.p-r5 { padding-right: 5px !important; }
.p-r10{ padding-right: 10px !important; }
.p-r15{ padding-right: 15px !important; }
.p-r20{ padding-right: 20px !important; }
.p-r25{ padding-right: 25px !important; }
.p-r30{ padding-right: 30px !important; }
.p-r35{ padding-right: 35px !important; }
.p-r40{ padding-right: 40px !important; }
.p-r45{ padding-right: 45px !important; }
.p-r50{ padding-right: 50px !important; }
.p-r55{ padding-right: 55px !important; }
.p-r60{ padding-right: 60px !important; }
.p-r65{ padding-right: 65px !important; }
.p-r70{ padding-right: 70px !important; }
.p-r75{ padding-right: 75px !important; }
.p-r80{ padding-right: 80px !important; }
.p-r85{ padding-right: 85px !important; }
.p-r90{ padding-right: 90px !important; }
.p-r95{ padding-right: 95px !important; }
.p-r100{ padding-right: 100px !important; }

/* PADDING BOTTOM */
.p-b0 { padding-bottom: 0px !important; }
.p-b5 { padding-bottom: 5px !important; }
.p-b10{ padding-bottom: 10px !important; }
.p-b15{ padding-bottom: 15px !important; }
.p-b20{ padding-bottom: 20px !important; }
.p-b25{ padding-bottom: 25px !important; }
.p-b30{ padding-bottom: 30px !important; }
.p-b35{ padding-bottom: 35px !important; }
.p-b40{ padding-bottom: 40px !important; }
.p-b45{ padding-bottom: 45px !important; }
.p-b50{ padding-bottom: 50px !important; }
.p-b55{ padding-bottom: 55px !important; }
.p-b60{ padding-bottom: 60px !important; }
.p-b65{ padding-bottom: 65px !important; }
.p-b70{ padding-bottom: 70px !important; }
.p-b75{ padding-bottom: 75px !important; }
.p-b80{ padding-bottom: 80px !important; }
.p-b85{ padding-bottom: 85px !important; }
.p-b90{ padding-bottom: 90px !important; }
.p-b95{ padding-bottom: 95px !important; }
.p-b100{ padding-bottom: 100px !important; }
.p-b130{ padding-bottom: 130px !important; }

/* PADDING LEFT */
.p-l0 { padding-left: 0px !important; }
.p-l5 { padding-left: 5px !important; }
.p-l10{ padding-left: 10px !important; }
.p-l15{ padding-left: 15px !important; }
.p-l20{ padding-left: 20px !important; }
.p-l25{ padding-left: 25px !important; }
.p-l30{ padding-left: 30px !important; }
.p-l35{ padding-left: 35px !important; }
.p-l40{ padding-left: 40px !important; }
.p-l45{ padding-left: 45px !important; }
.p-l50{ padding-left: 50px !important; }
.p-l55{ padding-left: 55px !important; }
.p-l60{ padding-left: 60px !important; }
.p-l65{ padding-left: 65px !important; }
.p-l70{ padding-left: 70px !important; }
.p-l75{ padding-left: 75px !important; }
.p-l80{ padding-left: 80px !important; }
.p-l85{ padding-left: 85px !important; }
.p-l90{ padding-left: 90px !important; }
.p-l95{ padding-left: 95px !important; }
.p-l100{ padding-left: 100px !important; }

/* FONT WEIGTH*/
.f-w100{font-weight:100 !important;}
.f-w200{font-weight:200 !important;}
.f-w300{font-weight:300 !important;}
.f-w400{font-weight:400 !important;}
.f-w500{font-weight:500 !important;}
.f-w600{font-weight:600 !important;} 
.f-w700{font-weight:700 !important;}
.f-w800{font-weight:800 !important;}
.f-w900{font-weight:900 !important;}    

 #head-page.alt #dt-menu > ul > li > a span::after, #head-page.alt #dt-menu > ul > li > a span::before {
    background: none !important;
}

.home #head-page.reveal #dt-menu > ul > li > a span::after, .home #head-page.reveal #dt-menu > ul > li > a span::before {
    background: none !important;
}

#dt-menu > ul #menu-item-173 > a {
    background-color: #FF6414;
    border-color: #FFF !important;
    font-weight: 900;
    font-size: 1.05em;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    border-radius: 40px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff !important;
}

p {
    margin: 0 0 10px;
}

a {
    color: #7FC3ED;
}

.p25 {
    padding: 25px;
}
.p15 {
    padding: 15px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent !important;
}

#dt-menu li a {
    display: block;
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
}

#dt-menu.dt-menu-right > ul {
    text-align: right;
}

#head-page.adminbar-not-here.reveal.notopbar.solid {
  background: rgba(127,195,237,.95) !important;
  margin: 0 !important;
  box-shadow: none !important;
}

.home #head-page.adminbar-not-here.reveal.notopbar.solid.alt {
    background: transparent !important;
  margin: 60px 0 !important;
/*    float: right; */
}


#head-page.adminbar-not-here.reveal.notopbar.solid #dt-menu li:hover {
  background: #81c1e8 !important;
}

.home #head-page.adminbar-not-here.reveal.notopbar.solid.alt #dt-menu li:hover {
  background: none !important;
}

#head-page.adminbar-not-here.notopbar.reveal.alt #menu-main-menu .menu-item {
    float: right;
    text-align: right;
}

#head-page.adminbar-not-here.notopbar.reveal.alt #menu-main-menu .menu-item a, #head-page.adminbar-not-here.notopbar.reveal.alt #menu-main-menu .menu-item a span {
    color: red;
}

#head-page.adminbar-not-here.notopbar.reveal.alt .home #head-page.alt #dt-menu > ul > li > a {
    color: #333 !important;
}

#head-page.adminbar-not-here.notopbar.reveal {
    background: rgba(127,195,237,.95) !important;
}

#head-page.transparent.alt #logomenu {
    height: 60px;
}

#dt-menu {
    padding: 0 15px 10px;
}

#dt-menu li:hover {
  background: #81c1e8 !important;
}


#dt-menu li a:hover {
  color: #fff !important;
}

.page-id-2 #dt-menu li:hover {
  background: transparent !important;
}

.home #head-page.alt #dt-menu > ul > li > a {
    color: rgba(255,255,255,.8);
    text-transform: uppercase;
}

#dt-menu > ul > li:hover > a {
    color:#fff;
}

#dt-menu > ul > li > a {
    color: rgba(255,255,255,.8) !important;
    text-transform: uppercase;
}

.transition:hover {
    background-color: pink;
}

.home #head-page #dt-menu.dt-menu-right > ul {
    text-align: right;
}

#main-banner {
/*
    background: url(http://pixt.dev/wp-content/uploads/2017/10/homepage-laptop.jpg?id=12) no-repeat;
    background-size: cover;
    width: 100%;
    height: 960px;
    background-position: 50% -23px;
    position: absolute;
    background-color: #292e33;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
*/
}

.head-page #dt-menu.dt-menu-right .menu-item-type-search, .head-page #dt-menu.dt-menu-right .bag #menu-item-34 {
    display: none !important;
}

.home .content {
  background: #292e33 url(http://pixt.dev/wp-content/uploads/2017/10/homepage-laptop.jpg?id=12) no-repeat;
    background-size: 100%;
    width: 100%;
    height: 986px;
  padding: 100px 0 !important;
/*    background-position: 50% -23px;
    position: absolute;
    background-color: #292e33;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
*/
}

.page-template-fullwidth .container {
  width: 100% !important;
}

.first-section .wpb_wrapper {
  margin: 0 auto;
  width: 1200px;
  padding: 100px 0 !important;
}

.home .hero .hero-container {
    width: 35%;
    float: left;
    margin-left: 5em;
    text-align: left;
}

.first-section {
  margin-top: 455px;
  /*margin-left: -15px;
  margin-right: -15px;*/
}

.home .hero-container {
    width: 35%;
    float: left;
    margin-left: 5em;
    text-align: left;
    margin-top: 5%;
}

.home .hero-container .hero-title {
    font-size: 32px;
    color: rgba(255,255,255,.8);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    line-height: 35px;
}

.home .hero-container .hero-sub-title {
    color: rgba(255,255,255,.8);
    letter-spacing: 1px;
    font-family: Georgia,Serif;
    font-size: 20px;
    line-height: 26px;
}

.home .call-to-action {
    margin-top: 50px;
}

.btn-primary, .btn-primary:focus, .btn-primary:hover, .nav-tabs li a:focus, .nav-tabs li a:hover {
    background-color: #7FC3ED !important;
    border-color: #66A8D0 !important;
    color: #fff !important;
}


.home .call-to-action a {
    margin: 0 7.5px 15px;
    min-width: 130px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.home .call-to-action btn-group-lg > .btn, .btn-lg {
    padding: 14.5px 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


.animated {
    visibility: visible !important;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.home .first-section {
  
    text-align: center;
      margin-bottom: 70px !important;
}

.home .first-section .row{
    margin-left: 0px;
    margin-right: 0px;
}
.home .first-section .animated {
    margin-bottom: 100px;
}

.home .section-title .sub-heading {
    font-size: 26px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    color: #2b2b2c;
}

.color, .drop-cap {
    color: #7FC3ED;
}

.home .feature-icon.font {
    background: #7FC3ED;
    border-radius: 50%;
    color: #fff;
    font-size: 26px;
}

.home .feature-icon {
    margin: 0 auto 15px;
    width: 60px;
    line-height: 60px;
    font-size: 40px;
    color: #D6D6D6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}


.home .feature-icon .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.home .feature-description h5 {
    font-size: 20px;
    line-height: 28px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #454545;
    padding-top: 15px;
}

.home .feature-description p {
    font-size: 17px;
    line-height: 22px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #575757;
}

.home #how-it-works .section-title {
    margin-bottom: 70px;
    text-align: center;
}

.home #how-it-works .mb15 {
    margin-bottom: 15px;
}


.home #how-it-works .feature-icon.left {
    float: left;
    margin: 15px 30px 0 0;
    width: auto;
    line-height: 1;
}

.home #how-it-works .feature-icon {
    margin: 0 auto 15px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    width: 60px;
    line-height: 60px;
    font-size: 40px;
    color: #D6D6D6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.home #how-it-works .feature-icon .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.home #how-it-works {
    margin: 0 auto;
    max-width: 940px;
    padding: 50px 0 !important;
}

.home #how-it-works .home-before-after .row .col img {
    border: 1px solid #7FC3ED;
    box-shadow: 0 0 5px #7FC3ED;
    max-width: 100%;
}
img {
    height: auto;
}

.home-before-after .row .col .fa-arrow-right {
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    color: #7FC3ED;
    top: 50%;
    margin-top: -10px;
    margin-left: -23px;
}

.home-before-after .row .col {
    padding-top: 15px;
    padding-bottom: 15px;
}

.home .try-it-for-yourself {
    background-color: #eaecf6;
}

.home .try-it-for-yourself .container{
    position: relative;
    z-index: 1001;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 1170px !important;
}

.home .try-it-for-yourself .section-title {
    margin-bottom: 70px;
    text-align: center;
}

.home .try-it-for-yourself .p25 {
    padding: 25px;
}

.home .try-it-for-yourself .feature-description p {
    font-size: 16px;
    line-height: 22px;
}

.home .try-it-for-yourself .form-control, label {
    font-weight: 400;
    color: #575757;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.home .try-it-for-yourself .form-control {
    height: 34px;
    border: 1px solid #d8dcee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: none;
    -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
    -moz-transition: border .25s linear,color .25s linear,background-color .25s linear;
    -o-transition: border .25s linear,color .25s linear,background-color .25s linear;
    transition: border .25s linear,color .25s linear,background-color .25s linear;
    font-size: 13px;
}

.home .try-it-for-yourself .btn-danger, .btn-danger:focus, .btn-danger:hover {
    background-color: #ff6414 !important;
    border-color: #D75B1C;
}

.home .try-it-for-yourself .btn-danger {
    color: #fff;
}

.home .try-it-for-yourself .btn-danger {
    transition: .25s linear;
    padding: 11px 12px;
    font-size: 14px;
    line-height: 1;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 900;
    font-weight: 900;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}


.home .banner {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}

.home .we-integrate-with .parallax-0 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home .we-integrate-with .parallax-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.home .we-integrate-with  .overlay-lighten-8 {
    background-color: rgba(255,255,255,.8);
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
}


.home .we-integrate-with.banner{
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 1001;
}
.home .we-integrate-with.banner .container{
    position: relative;
    z-index: 1001;
    padding-top: 50px;
    padding-bottom: 50px
}

.home .we-integrate-with .section-title {
    margin-bottom: 70px;
    text-align: center;
}

.home .we-integrate-with .inline {
    display: inline-block;
}

.home .we-integrate-with .m15 {
    margin: 15px;
        margin-top: 15px;
}

.home .we-integrate-with .commerceImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 65px;
    width: auto;
}

.home .what-ecommerce-retailers-are-saying {
    position: relative;
}

.home .what-ecommerce-retailers-are-saying .container{
    position: relative;
    z-index: 1001;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 1170px !important;
}

.home .what-ecommerce-retailers-are-saying .container .section-title {
    margin-bottom: 70px;
    text-align: center;
}

.home .what-ecommerce-retailers-are-saying .owl-carousel {
    width: 100%;
    position: relative !important;
}

.home .what-ecommerce-retailers-are-saying .owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.home .what-ecommerce-retailers-are-saying .reviews-carousel .owl-item {
    padding: 0 15px;
    margin-bottom: 100px;
    display: block;
    float: left;
}

.home .what-ecommerce-retailers-are-saying .reviews-carousel blockquote {
    font-size: 16px;
    line-height: 24px;
    float: none;
    color: #59595A;
    font-weight: 400;
}


.home .what-ecommerce-retailers-are-saying .owl-carousel, .owl-carousel .owl-wrapper {
    display: none;
    position: relative;
}


.home .what-ecommerce-retailers-are-saying blockquote {
    margin: 15px 0;
    padding: 10px;
    border: 0;
    font-size: 14px;
    display: block;
}

.home .what-ecommerce-retailers-are-saying .reviews-carousel .reviews-avatar {
    float: left;
    max-width: 100%;
    width: 48px;
    margin-right: 15px
}

.home .what-ecommerce-retailers-are-saying .home .what-ecommerce-retailers-are-saying .mr15 {
    margin-right: 15px;
}


 .home .what-ecommerce-retailers-are-saying .reviews-meta {
    overflow: hidden;
}


.home .what-ecommerce-retailers-are-saying embed, iframe, img, object, video {
    border: 0;
    max-width: 100%;
}

.home .what-ecommerce-retailers-are-saying .reviews-carousel .reviews-name {

    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 0;

}

.home .what-ecommerce-retailers-are-saying owl-carousel {
    width: 100%;
    
}


.home .what-ecommerce-retailers-are-saying blockquote::before {
    font-family: Georgia,serif;
    content: "“";
    color: #E2E4E9;
    float: left;
}

.home .what-ecommerce-retailers-are-saying a {
    color: #7FC3ED !important;
    text-decoration: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.home .what-ecommerce-retailers-are-saying .reviews-carousel .reviews-meta small {
    font-size: 14px;
    color: #59595A;
}

.home .what-ecommerce-retailers-are-saying .reviews-carousel blockquote::before {
    color: #8A8A8A;
    margin-bottom: 120px;
}

blockquote::before {
    font-size: 40px;
    margin-right: 10px;
    line-height: 1;
}


a:hover, a:focus {
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: none !important;
}

a:hover, a:focus {
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    color: red !important;
}

/* FREETRIAL Page */

.page-id-17 #home-page .adminbar-not-here.reveal.notopbar.solid.alt {
    background: transparent !important;
    margin: 0px 0 !important;
    float: right;
}

.page-id-17 #head-page #dt-menu.dt-menu-right > ul {
    text-align: right;
}


.page-id-17 #banner-section {
    display: none;
}

.page-id-17  .see-what-pixc  {
    padding-top: 70px;
    padding-bottom: 80px;
    background-color: rgba(46,53,61,.9);
}
.page-id-17 .see-what-pixc  h1  {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
}

.page-id-17 .content .post-article {
    padding: 70px 0 0;
}

 .page-id-17 .banner {
    padding-top: 40px;
    padding-bottom: 40px;
}

.page-id-17 .parallax, .parallax-0 {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.page-id-17 .overlay-lighten-9 {
    background-color: rgba(255,255,255,.9);
    position: absolute;
   /* z-index: 1000;*/
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-backface-visibility: hidden
}

.content-section.banner .container, footer.content-section .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.page-id-17  .content-1{
        width: 1170px !important;
    }


.pb20 {
    padding-bottom: 20px;
}

.pt20 {
    padding-top: 20px !important;
}

.page-id-17  .heading-font {
    line-height: 1.3em;
    font-size: 24px;
}

.page-id-17 .heading-font {
    color: #1a1a1a;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.page-id-17 .p-work-frame {
    background: #f1f1f1;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}

.page-id-17 .p-work-frame  .form-control {
    border: 1px solid #e3e6f3;
    border-radius: 2px;
    box-shadow: none;
    -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
    transition: border .25s linear,color .25s linear,background-color .25s linear;
    -webkit-appearance: none;
    font-weight: 400;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
}

.page-id-17 .p-work-frame  label {
    font-weight: 600;
}

.page-id-17 .your-email-section {
    width: 1170px !important;
    margin-top: 50px;
    margin-bottom: 10px;
}

.page-id-17 .form-group .btn-primary {
    color: #ffffff;
    background-color: #1582dc !important;
    border-color: #1582dc !important;
    padding: 15px 16px;
    border-radius: 4px;
    font-size: 13px;
    line-height: 14px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: none;
    opacity: .65;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: capitalize;
}

.page-id-17 .note-section {
    background-color: rgba(127,195,237,.9);
    position: relative;
}

.page-id-17 .note-section .trial-note {
    line-height: 1.3em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-id-17 .note-section .text-white a {
    color: #fff;
}

/* PRICING PAGE */

.page-id-127 #contact .container {
    padding-top: 40px;
    padding-bottom: 50px;
}

.page-id-127 #contact {
    padding-bottom: 40px;
}
.page-id-127 #banner-section {
    display: none;
}
.page-id-127 #contact .container h1{
    line-height: 1.1;
    color: #454545;
    letter-spacing: 1px;
    font-size: 36px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-127 #contact .pricing-table-list {
    text-align: center;
}

.page-id-127 #contact .pricing-table-list .pricing-table {
    width: 250px;
    margin: 15px 10px;
    background-color: #fff;
    border: 1px solid #d8dcee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    text-align: center;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    color: #59595A;
    font-weight: 400;
    font-size: 13px;
    line-height: 2;
}

.page-id-127 #contact .pricing-table-list .pricing-table .pricing-header {
    background: #eaecf6;
    padding: 8px;
    line-height: 22px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-127 #contact .pricing-table-list .pricing-table .pricing-header .title {
    font-size: 16px;
    font-weight: 700;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-127 #contact .pricing-table-list .pricing-table .quantity {
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-127 #contact .pricing-table-list .pricing-table .pricing-body {
    padding: 15px 0 25px;
    position: static;
    overflow: hidden;
}

.page-id-127 #contact .pricing-table-list .pricing-table .plan-price {
    margin: 15px 0;
}

.page-id-127 #contact .pricing-table-list .pricing-table .plan-price .heading-font {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 40px;
    color: #59595a;
    line-height: 1.3em;
}

.page-id-127 #contact .pricing-table-list .pricing-table .plan-price span {
    display: block;
}

.page-id-127 #contact .pricing-table-list .pricing-table .pricing-body .pricing-info {
    font-size: 14px;
    line-height: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-127 #contact .pricing-table-list .pricing-table .btn {
    outline: 0;
    -webkit-transition: .25s linear;
    -moz-transition: .25s linear;
    -o-transition: .25s linear;
    transition: .25s linear;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1;
    font-weight: 900;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-127 #contact .pricing-table-list .pricing-table  .btn-color {
    color: #fff;
    background-color: #7FC3ED;
    border-color: #7FC3ED;
}

.page-id-127 #contact .pricing-table-list .pricing-table  a:hover, a:focus {
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    color: #fff !important;
}

.page-id-127 #contact .pricing-table-list .pricing-table p a:hover {
  background: #69b9ea;
}

.page-id-127 #contact .pricing-table-list .pricing-table .pricing-body .most-popular {
    background: #FF6414;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 1.75em;
    font-weight: 700;
    font-size: 1em;
    position: absolute;
    right: -140px;
    top: 25px;
    width: 320px;
    margin-right: 20px;
    margin-left: 30px;
    color: #FFF;
}

.page-id-127 #contact .p-enterprise {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #59595A;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-127 #contact .p-enterprise a {

    color: #7FC3ED;
    text-decoration: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.page-id-127 #contact p a:hover {
 color: #52aee7 !important;
}

.page-id-127 #contact p {
    color: #59595A !important;
    font-weight: 400;
    font-size: 13px;
    line-height: 2;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.page-id-127 #contact .p-jump {
    display: block;
    position: absolute;
    font-size: 30px;
    text-align: center;
    color: #59595A;
    margin-top: -50px;
    z-index: 1010;
    width: 100%;
}

 .ready-to-see-section {
    background-color: #313840;
    padding-top: 40px;
    padding-bottom: 40px;
}

.page-id-127 .ready-to-see-section .container p{
   color: #fff;
   font-weight: 400;
    font-size: 13px;
    line-height: 2;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-127 .ready-to-see-section .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.page-id-127 .ready-to-see-section .container .btn-danger, .btn-danger:focus, .btn-danger:hover {
    background-color: #ff6414 !important;
    border-color: #D75B1C;
    padding: 16.5px 16px;
}

.page-id-127 .ready-to-see-section .container .btn-rounded {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}


.page-id-127 .ready-to-see-section .btn {
    outline: 0;
    -webkit-transition: .25s linear;
    -moz-transition: .25s linear;
    -o-transition: .25s linear;
    transition: .25s linear;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1;
    font-weight: 900;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-127 .ready-to-see-section  a:hover {
 color: #fff !important;
}

.page-id-127 .faq-section {
    padding-top: 40px;
    padding-bottom: 40px;   
}

.page-id-127 .faq-section  .container{
    padding-top: 50px;
    padding-bottom: 50px;   
}

.page-id-127 .faq-section  .container .section-title {
    margin-bottom: 70px;
    text-align: center;
}

.page-id-127 .faq-section  .container .section-title h4{
    color: #454545;
    letter-spacing: 1px;
    line-height: 1.3em;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-127 .faq-section  .container  .color{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
}

.page-id-127 .faq-section  .container  p{
    margin: 0 0 10px;
    color: #59595A;
    font-weight: 400;
    font-size: 13px;
    line-height: 2;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.page-id-127 .faq-section  .container .section-footer h4{
    color: #454545;
    letter-spacing: 1px;
    line-height: 1.3em;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.page-id-127 .faq-section  .container a {
    color: #7FC3ED;
    text-decoration: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}


.page-id-127 .faq-section  a:hover {
    color: #52aee7 !important;
    text-decoration: none;
    outline: 0;  
}

/* Pixc partners and integrations  */


.page-id-145 #banner-section {
    display: none;
}


.page-id-145  .pixc-partners-and-integration-section {
    padding-top: 60px;
}


.page-id-145  .vertical-center {
    display: table;
    width: 100%;
    position: relative;
    min-height: 150px;
}
.page-id-145 .vertical-center > .container {
    display: table-cell;
    vertical-align: middle;
    width: 100% !important;
    height: 100%;
    float: none;
}

.page-id-145  .hero .hero-parallax {
    position: absolute;
    background-color: #292e33;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.page-id-145  .pixc-partners-and-integration-section .overlay-darken-6 {
    background-color: rgba(46,53,61,.6);
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
}

.page-id-145  .hero {
    color: rgba(255,255,255,.8);
    text-align: center;
    z-index: 999;
    padding: 0;
    padding-top: 60px;
}

.page-id-145  .pixc-partners-and-integration-section .container {
    position: relative;
    z-index: 1001;
}

.page-id-145  .pixc-partners-and-integration-section .container .heading-font {
    color: rgba(255,255,255,.8);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.3em;
    font-weight: 500;
    font-size: 30px;
    font-size: 30px;

}

.page-id-145 .integrations-section  {
    background-color: #eaecf6;
    position: relative;
}


.page-id-145 .integrations-section h2 {
    margin: -40px 0 40px;
    line-height: 1.1;
    color: #454545;
    letter-spacing: 1px;
    font-size: 30px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.page-id-145 .parallax, .parallax-0 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-id-145  .content .post-article {
    padding: 0px 0 0;
}

.page-id-145 .integrations-section > .container {
    max-width: 940px;
    position: relative;
    z-index: 1001;
    padding-top: 100px;
    padding-bottom: 100px
}


.page-id-145 .integrations-section .p-partner-logo {
    margin: 0 auto 15px;
    display: block;
    max-width: 200px;
    height: 80px;
    background: 50% 50% no-repeat;
    background-size: contain;
}

.page-id-145 .integrations-section .feature-description {
    overflow: hidden;
}

.page-id-145 .integrations-section .feature-description p {
    font-size: 16px;
    line-height: 22px;
}


.page-id-145 .integrations-section .p-link {
    color: #59595A !important;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-145 .integrations-section .btn {
    font-weight: 400;
    text-transform: none;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1;
    border-radius: 3px;
}

.page-id-145 .partners-section {
    position: relative;
}

.page-id-145 .p-partners h2 {
    margin: -40px 0 40px;
    line-height: 1.1;
    color: #454545;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 500;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-145 .partners-section .container{
    padding-top: 100px;
    padding-bottom: 100px;
}

.page-id-145 .p-partners .p-partner-logo {
    margin: 0 auto 15px;
    display: block;
    max-width: 200px;
    height: 80px;
    background: 50% 50% no-repeat;
    background-size: contain;
}

.page-id-145 .feature-description p {
    font-size: 16px;
    line-height: 22px;
}

.page-id-145 .feature-description p a:hover {
     color: #575757 !important;
}


.page-id-145 .p-partners .p-link {
    color: #575757;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-145 .ready {
    background-color: #313840;
    padding-top: 50px;
    padding-bottom: 50px;
}

.page-id-145 .ready-to-see-section .container p {
    color: #b6b8bb;
    font-weight: 400;
    font-size: 13px;
    line-height: 2;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-145 .ready-to-see-section .container .btn-rounded {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

.page-id-145 .ready-to-see-section .container .btn-danger, .btn-danger:focus, .btn-danger:hover {
    background-color: #ff6414 !important;
    border-color: #D75B1C;
    padding: 16.5px 16px;
}

.page-id-145 .ready-to-see-section .btn {
    outline: 0;
    -webkit-transition: .25s linear;
    -moz-transition: .25s linear;
    -o-transition: .25s linear;
    transition: .25s linear;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1;
    font-weight: 900;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* LEGAL TERMS AND CONDITIONS */

.page-id-175 #banner-section {
    display: none;
}

.page-id-175 .legal-terms-and-conditions-section {
    padding-top: 65px;
    position: relative;
}

.page-id-175  .hero-parallax {
    position: absolute;
    background-color: #292e33;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: rgba(255,255,255,.8);
    text-align: center;
}

.page-id-175  .overlay-darken-6 {
    background-color: rgba(46,53,61,.6);
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
}

.page-id-175 .container {
    position: relative;
    z-index: 1001;    
}

.page-id-175 .post-article {
    padding: 0px 0 0 !important;
}

.page-id-175  .heading-font {
    line-height: 1.3em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    color: rgba(255,255,255,.8);
    z-index: 999
    letter-spacing: 1px;
}

.page-id-175  .hero-sub-title {
    color: inherit;
    letter-spacing: 1px;
    font-family: Georgia,Serif;
    font-size: 20px;
    line-height: 26px;
    color: rgba(255,255,255,.8);
    letter-spacing: 1px;
}

.page-id-175 .legal-content-section  {
    padding-top: 40px;
    padding-bottom: 40px; 
    background-color: #fff;
}

.page-id-175 .legal-content-section .container {
    padding-top: 50px;
    padding-bottom: 50px; 
}

.page-id-175 .legal-content-section .container h4 {
    font-size: 18px;
    line-height: 1.3em;
    color: #454545;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-175 .legal-content-section .container p {
    color: #59595A;
    font-weight: 400;
    font-size: 13px;
    line-height: 2;
}

.page-id-175 .privacy-policy {
    position: relative;
}

.page-id-175 .privacy-policy .hero-parallax {
    position: absolute;
    background-color: #292e33;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: rgba(255,255,255,.8);
    text-align: center;
}

/* CONTACT US */

.page-id-192 #banner-section {
    display: none;
}

.page-id-192 .address-section {
    background-color: #eef0f8;
    padding-top: 40px;
    padding-bottom: 40px;
}

.page-id-192 .address-section h5 {
    line-height: 1.1;
    color: #454545;
    letter-spacing: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500; 
}

.page-id-192 .address-section a {
    color: #454545;
}

.page-id-192 .address-section a:hover {
    color: #454545 !important;
}

.page-id-192 .say-hello-section .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.page-id-192 .say-hello-section .section-title {
    margin-bottom: 70px;
    text-align: center;
}

.page-id-192 .say-hello-section .section-title h4 {
    line-height: 1.3em;
    color: #454545;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px !important;
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-192 .say-hello-section .section-title p {
    color: #59595A;
    font-weight: 400;
    font-size: 13px;
    line-height: 2;
}

.page-id-192 .say-hello-section label {
    font-weight: 400;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 2;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.page-id-192 .say-hello-section .form-control {
    border: 1px solid #d8dcee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: none;
    -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
    -moz-transition: border .25s linear,color .25s linear,background-color .25s linear;
    -o-transition: border .25s linear,color .25s linear,background-color .25s linear;
    transition: border .25s linear,color .25s linear,background-color .25s linear;
    font-size: 13px;
}

.page-id-192 .say-hello-section textarea.form-control {
    min-height: 150px;
    resize: none;
}

.page-id-192 .say-hello-section .btn-color.btn-outline {
    background-color: transparent;
    color: #7FC3ED;
    line-height: 1.3em;
}

.page-id-192 .say-hello-section .btn-group-lg > .btn, .btn-lg {
    padding: 16.5px 16px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 40px !important;
}

.page-id-192 .say-hello-section .btn {
    outline: 0;
    -webkit-transition: .25s linear;
    -moz-transition: .25s linear;
    -o-transition: .25s linear;
    transition: .25s linear;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1;
    font-weight: 900;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border-color: #7FC3ED !important;
}

.page-id-192 .say-hello-section .btn-color.active, .btn-color:active, .btn-color:focus, .btn-color:hover, .open .dropdown-toggle.btn-color {
    border-color: #69b9ea !important;
}


.page-id-192 .say-hello-section .btn-color.btn-outline.active, .btn-color.btn-outline:active, .btn-color.btn-outline:focus, .btn-color.btn-outline:hover {
    background-color: #7FC3ED !important;
    color: #fff !important;
}


.page-id-192 .ready-to-see-section .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.page-id-192 .ready-to-see-section .container p {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 2;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-192 .ready-to-see-section .container .btn-danger, .btn-danger:focus, .btn-danger:hover {
    background-color: #ff6414 !important;
    border-color: #D75B1C;
    padding: 16.5px 16px;
}

.page-id-127 .ready-to-see-section .container .btn-danger, .btn-danger:focus, .btn-danger:hover {
    background-color: #ff6414 !important;
    border-color: #D75B1C;
    padding: 16.5px 16px;
    color: #fff;
}
.page-id-192 .ready-to-see-section .btn {
    outline: 0;
    -webkit-transition: .25s linear;
    -moz-transition: .25s linear;
    -o-transition: .25s linear;
    transition: .25s linear;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1;
    font-weight: 900;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* About US */

.page-id-217 #banner-section {
    display: none !important;
}

.page-id-217 .about-header {
    padding-top: 60px !important;
    color: rgba(255,255,255,.8);
    z-index: 999;
    padding: 0;
    text-align: center;
    display: table;
    width: 100%;
    position: relative;
}

.page-id-217 .hero .hero-parallax {
    position: absolute;
    background-color: #292e33;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-id-217 .overlay-lighten-8 {
    background-color: rgba(255,255,255,.8);
}

.page-id-217 .overlay-lighten-1, .overlay-lighten-2, .overlay-lighten-3, .overlay-lighten-4, .overlay-lighten-5, .overlay-lighten-6, .overlay-lighten-7, .overlay-lighten-8, .overlay-lighten-9 {
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
}

.page-id-217 .about-us-title {
    color: #444 !important;
    line-height: 1.3em;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}

.page-id-217  .container {
    position: relative !important;
    z-index: 1001 !important;
}

.page-id-217  .hero-sub-title {
    color: inherit;
    letter-spacing: 1px;
    font-family: Georgia,Serif;
    font-size: 20px;
    line-height: 26px;
    color: #444 !important;
}


.page-id-217  .content .post-article {
    padding: 0px 0 0;
}

.page-id-217 .about-mission-section {
    background-color: #2E353D;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #b6b8bb !important;
    font-size: 13px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-217 .youtube-section {
    background-color: #eaecf6;
    padding-top: 40px;
    padding-bottom: 40px;
}

.page-id-217 .ready-to-see-section .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.page-id-217 .embed-responsive-4by3 {
    padding-bottom: 75% !important;
}

.page-id-217 .embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
}

.page-id-217 .ready-to-see-section .container p {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 2;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-217 .ready-to-see-section .container .btn-danger, .btn-danger:focus, .btn-danger:hover {
    background-color: #ff6414 !important;
    border-color: #D75B1C;
    padding: 16.5px 16px;
    color: #fff;
}

.page-id-217 .ready-to-see-section .btn {
    outline: 0;
    -webkit-transition: .25s linear;
    -moz-transition: .25s linear;
    -o-transition: .25s linear;
    transition: .25s linear;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1;
    font-weight: 900;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-id-217 .ready-to-see-section a:hover {
    color: #fff !important;
}

.page-id-217 .embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Footer section */

.tertier_color_bg {
    background-color: #eaecf6 !important;
}


.tertier_color_bg .footer-left {
    color: #575757 !important;
}

.tertier_color_bg .footer-section {
    padding-top: 50px;
    padding-bottom: 50px;
}


/*Media query*/
@media only screen and (max-width : 1200px) {

        .first-section .wpb_wrapper {
            width: 100% !important;
    }

        .home #how-it-works {
             width: 100% !important;
    }

        .home .what-ecommerce-retailers-are-saying .container {
            width: 100% !important;
    }

    .home .try-it-for-yourself .container {
        position: relative;
        z-index: 1001;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 100%!important;
    }

    #dt-menu {
        max-width: 100%;
        margin: 0 auto;
    }

    .page-id-17  .container{
        width: 100% !important;
    }

    .page-id-17 .see-what-pixc h1 {
        margin-top: 20px;
        margin-bottom: 0px;
       
    }
}




@media only screen and (min-width : 1200px) {
    #dt-menu {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 5em;
    }
    .page-id-17  .container{
       /* width: 100% !important;*/
    }

    .page-id-17 .note-section .container {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 1170px !important;
    }

    .page-id-127 .faq-section .container {
        width: 1170px !important;
    }

    .page-id-145 .partners-section .container{
    width: 1170px !important;
    padding-top: 100px;
    padding-bottom: 100px;
    }

    .page-id-175 .legal-content-section .container {
        width: 1170px !important;
    }

    .page-id-192 .say-hello-section .container {
        padding-top: 100px;
        padding-bottom: 100px;
         width: 1170px !important;
    }

    .page-id-217 .about-mission-section .container {
        width: 1170px !important;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .page-id-217 .youtube-section .container {
        width: 1170px !important;
        padding-top: 50px;
        padding-bottom: 50px;
    }

}

